/* CSS Essentials */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    
}
/* Simpler Layout for Social Media Icons due to less screen estate */
.desktoptest{
    display: none;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}
header {
    min-height: 100vh;
    background:url("Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    

  }
  
  nav {
    display: flex;
    width: 100%;
    position: relative;
    color: white;
    
    
  }
nav>ul{
    width: 100%;
    height: 0vh;
    visibility: hidden;
    transition: 0.3s;
    text-align: center;
    list-style-type: none;
    padding: 20px 0;
    margin:0;
    overflow: hidden;
    position: absolute;
    top:50px;
    left:0;
    
}
nav label{
    margin: 20px;
    position: absolute;
    right: 0;
    font-size: 40px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 800;
    top:0;
    
}
nav>h1{
    position: absolute;
    left: 10px;
    top:0;
    font-size: 18px;
    font-weight: 800;
    line-height: 40px;
    font-weight: 900;
    color: white;
    
}
nav>ul>li>a{
    text-decoration: none;
    color: gray;
    font-size: 14px;
}
nav>ul>li{
    line-height: 50px;
    background-color: white;
}
nav>input[type='checkbox']{
    display:none;
  }
nav>input[type='checkbox']:checked ~ ul{
    visibility: visible;
    height: 290px;
    z-index: 1;
}
nav>label{
    transition:0.5s;
}
nav>input[type='checkbox']:checked + label{
    transform:rotate(45deg);
}

/* Typing Animation */
@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}
.name-header1 {
    display: flex;
    font-family: Hacked;
    font-size: 35px;
    /* font-weight: 300; */
    color: whitesmoke;
    margin-right: 2px;
  }
  
  .hero {
    display: flex;
    overflow: hidden;
    flex-direction: row;
  }
 
  
  .name-header2 {
    display: flex;
    align-items: center;
    font-family: Hacked;
    /* font-weight: 300; */
    font-size: 35px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    animation: typing 3s steps(10) alternate infinite, blink-caret 0s step-end infinite;
    width: 0;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  
    to {
      width: 81%;
    }
  }
  
  @keyframes blink-caret {
  
    from,
    to {
      border-right-color: transparent;
    }
  
    30% {
      border-right-color: white;
    }
  }
  


.content{
    height: calc(100vh - 50px);
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.hello{
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
/* Mobile Social Media Icons */
.icons{
    padding: 10px 10px;
}
.icons>span{
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.icons>span>img{
    vertical-align: middle;
}
.icons .fa-facebook-f{
    color: #1A6ED8;
    padding: 5px 8px;
    border-radius: 50%;
    margin: 0.2rem;
    background-color: rgba(255, 255, 255);
  }
  .icons .fa-x-twitter{
    color: rgb(30,48,80);
    padding: 5px 8px;
    border-radius: 50%;
    margin: 0.2rem;
    background-color: rgba(255, 255, 255);
  }

  .icons .fa-linkedin-in{
    color: #0077B5;
    padding: 5px 8px;
    border-radius: 50%;
    margin: 0.2rem;
    background-color: rgba(255, 255, 255);
  }
 
  .icons .fa-instagram{
    color: red;
    padding: 5px 8px;
    border-radius: 50%;
    margin: 0.2rem;
    background-color: rgba(255, 255, 255);
  }
  
  .icons .fa-youtube{
    color: #FE0000;
    padding: 5px 8px;
    border-radius: 50%;
    margin: 0.2rem;
    background-color: rgba(255, 255, 255);
  }
 
  .about-container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about-container>img{
    width: 70%;
    padding: 20px;
}
.about{
  text-align: left;
  padding: 20px;
}
.about h3{
    font-size: 30px;
    line-height: 1.1;
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    margin-bottom: 5px;
}
.about h5{
    font-size: 14px;
    color: #999;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.about p{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    font-size: 16px;
    color: #748182;
}
/* Skillbox */

em{
    height: 37vh;
    display: flex;
    background: black;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif
}
.container{
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
}
.container .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: flex;
    -ms-flex-align: start;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: black;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}
.skill-per.com{
    width: 97%;
    animation-delay: 0.4s;
}
.skill-per.gam{
    width: 89%;
    animation-delay: 0.5s;
}
.skill-per.ps{
    width: 77%;
    animation-delay: 0.6s;
}
.skill-per.sc{
    width: 65%;
    animation-delay: 0.7s;
}
/* Animation for SkillBox */

@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: crimson;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: crimson;
    transform: translateX(-50%) rotate(45deg);

    /* Doublet Buttons */
}
.aboutbase{
    margin:1.5rem 0;
    display: flex;
    justify-content: space-evenly;

}
.aboutbase a{
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1.5rem;
    background-color: #1c1c1c;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 0.75rem;
    font-family: 'Poppins', sans-serif;
  }

  #download,#contact{
    transition: 0.5s;
  }
  #contactme,#download{
    color: #fff;
    background-color: black;
  }
  
  #download:hover,#contactme:hover{
    color: #1c1c1c;
    background-color: #fff;
  }
 
/*  My Projects */

.projects {
    text-align: center;
    padding: 5px;
    background-color: black;
  }
  
  .projects > h1{
    font-size: 40px;
    line-height: 1.1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 5px;
    color: #ffffff;
  }
  .contact > h1 {
    font-size: 40px;
    line-height: 1.1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .projects > div {
    display: inline-block;
    width: 95%;
    max-width: 500px;
    height: 280px;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.25), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    position: relative;
    margin: 10px 0;
    transition: all 0.5s;
  }
  
  .projects > div:hover {
    background-size: 110%;
    box-shadow: 0 2px 20px #009e66;
    
  }
  
  .projects > div > p {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    padding: 100px;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    transition: 0.5s;
    backdrop-filter: blur(10px); 
   -webkit-backdrop-filter: blur(10px);    /* For adding compatiblity with Safari Browser. Long Press Required for viewing info */
  }
  
  .projects > div > p > a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    
  }
  
  .first {
    background-image: url(Images/Project\ 1.gif);
  }
  
  .second {
    background-image: url(Images/Project\ 2.gif);
  }
  
  .third {
    background-image: url(Images/Project\ 3.gif);
  }
  
  .fourth {
    background-image: url(Images/Project\ 5.gif);
  }
  
  .fifth {
    background-image: url(Images/Project\ 4.gif)
  }
  
  .sixth {
    background-image: url(Images/Project\ 6.gif);
  }
  
  .first:hover > p,
  .second:hover > p,
  .third:hover > p,
  .fourth:hover > p,
  .fifth:hover > p,
  .sixth:hover > p {
    display: inline;
  }

  /* Testimonials */

  .reviews{
    width:90%;
    max-width: 400px;
    overflow: hidden;
    margin:20px auto;
    text-align: center;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  }
.reviews>h1{
    padding-bottom: 20px;
    
}
.contain{
    position: relative;
    height: 280px;
    padding: 10px;
}
.slider{
    display: flex;
    position: absolute;
    top: 0;
    left:0;
    bottom: 20px;
    width: 300%;
    transition:all 0.5s;
}
.slider>div{
    width: calc(100% / 3);
    text-align: center;
    display: inline;
}
.slider>div>img{
    border-radius: 50%;
}
.slider>div>h4,.slider>div>h5{
    font-size: 20px;
    line-height: 1.1;
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 5px;
}
.slider>div>h5{
    color: #999;
    font-size: 16px;
}
.slider>div>p{
    font-size: 20px;
    color: #999;
}
.contain>span{
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 10px;
    margin: 0 2.5px;
    border-radius: 50%;
    background-color: #f7f7f7;
    border: 1px solid black;
}
.contain>span:focus{
    background-color: #999;
}
.contain>.fst{
    left: calc(50% - 30px);
}
.contain>.cnd{
    left: calc(50% - 10px);
}
.contain>.trd{
    left: calc(50% + 10px);
}
.fst:focus~.slider{
    left: 0;
}
.cnd:focus~.slider{
    left: -100%;
}
.trd:focus~.slider{
    left: -200%;
}
.reviews > h1{
    color: black;
    font-size: 40px;
    line-height: 1.1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 5px;
}


.contact{
    text-align: center;
    background-color: #000000;
    padding: 20px;
}
.contact>div>div{
    padding: 20px;
}
.contact>div>div>span{
    display: inline-block;
    background-color: white;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.5s;
}
.contact>div>div>span:hover{
    background-color: #1A6ED8;
    color: white;
}
.contact>div>div>h4{
    font-size: 24px;
    margin: 0;
}
.contact>div>div>p{
    word-wrap: break-word;
    font-size: 18px;
    color: #999;
    margin: 10px;
}
.contact>div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form{
    width: 100%;
    padding: 20px;
    margin: auto;
}
.form input,.form textarea{
    box-sizing: border-box;
    outline: none;
    border: 0;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #F4F4f4;
}
.form input:nth-child(1){
    margin-bottom: 20px;
}
.form>textarea{
    resize: none;
    width: 100%;
    margin: 20px 0;
    height: 160px;
}
.form>span{
    display: block;
    /* width: 150px; */
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    margin-left:  100px;
    margin-right:  100px;

}


/* Footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer>span>a{
    color: red;
    text-decoration: none;
}
footer>span>a:hover{
    text-decoration: underline;
}
